
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit Post</title>
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
	<form action="/edit" method="POST" class="create-form">
        <h2>Edit Post</h2>
        <input type="hidden" name="id" value="<%= locals.id %>" />
		<input type="hidden" name="user_id" value="<%= locals.user_id %>" />
		<label for="title">Title:</label>
		<input type="text" name="title" required class="input-field" value="<%= locals.title %>" />
		<label for="content">Content:</label>
		<textarea name="content" required class="input-field content-input" rows="8"><%= locals.content %></textarea>
		<label for="category">Category:</label>
		<select required name="category" class="input-field">
			<option value="" disabled <% if (!locals.category) { %>selected<% } %>>Select Category</option>
			<option value="General" <% if (locals.category === 'General') { %>selected<% } %>>General</option>
			<option value="Tech" <% if (locals.category === 'Tech') { %>selected<% } %>>Tech</option>
			<option value="Lifestyle" <% if (locals.category === 'Lifestyle') { %>selected<% } %>>Lifestyle</option>
			<option value="Food" <% if (locals.category === 'Food') { %>selected<% } %>>Food</option>
			<option value="Travel" <% if (locals.category === 'Travel') { %>selected<% } %>>Travel</option>
			<option value="Fashion" <% if (locals.category === 'Fashion') { %>selected<% } %>>Fashion</option>
		</select>
		<button type="submit" class="submit-btn">Update</button>
	</form>
</body>
</html>
